/*
Project Name: Firebase SGT Prototype
File Name: style.css
Author: Lance Takiguchi
Date: 10/18/2016 Time: 16:13 
Objective: Try doing the backend for SGT using Firebase	
Prompt: https://docs.google.com/presentation/d/1BchTvPKiJpol8ooIBGCwIaKKJdlVOfxTw-L5kTZ4uO0/pub?start=false&loop=false&delayms=3000&slide=id.g165ee7341a_0_208
Plunker: https://plnkr.co/edit/XYyzXiNbcxOR3JRQBwYL?p=preview
*/